/* Default: non fa nulla su xs e sm */
.w-md-25 {
  width: 100%; /* fallback per mobile */
}

.w-md-50 {
  width: 100%;
}

.w-md-75 {
  width: 100%;
}

.w-md-100 {
  width: 100%;
}

/* Solo da md in su */
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
}
