@import "./layout.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat), sans-serif;
  scroll-behavior: smooth;
}

.image {
  height: 50vh;
  width: auto;
}

p {
  line-height: auto;
  letter-spacing: 2%;
}

.btn {
  border-radius: 0;
}

.text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.navbar {
  background-color: var(--col-b);
  opacity: 1;
  height: 19.22dvh;
  max-height: 200px;
}

.navbar-large {
  flex-direction: column;
  justify-content: center;
  transition: all 2s ease;
}

.navbar-large .navbar-logo {
  transform: scale(1);
}

.navbar-shrink {
  transition: all 2s ease;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.9;
  backdrop-filter: blur(6px);
  height: 8dvh;
}

.navbar-shrink .navbar-logo {
  transform: scale(0.75);
}

.hero {
  position: relative;
}

.hero-text {
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
  color: var(--col-d);
  z-index: 1;
  transition: 0.3s ease;
}

.hero-bottom {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 15dvh;
  z-index: 2;
}

[class*="-card"] {
  border: 1px solid rgb(239, 239, 239) !important;
}

.info-card {
  height: 150px;
  width: 550px;
}

.product-card {
  width: 280px;
  height: 350px;
}

.partner-card {
  overflow: hidden;
}

.partner-overlay {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.partner:hover .partner-overlay {
  opacity: 1;
}
