@import "./layout.css";
@import "./customStyles.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat), sans-serif;
  font-display: swap;
  scroll-behavior: smooth;
}

.image {
  height: 50vh;
  width: auto;
}

p {
  line-height: auto;
  letter-spacing: 2%;
}

.btn {
  border-radius: 0;
}

.text-shadow {
  text-shadow: 0 1 6px rgba(0, 0, 0, 0.7);
}

.navbar {
  background-color: var(--col-b);
  opacity: 1;
  height: 19.22dvh;
  max-height: 250px;
  min-height: 100px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .navbar {
    height: 15dvh;
  }
}

.navbar-shrink {
  opacity: 0.9;
  backdrop-filter: blur(10px);
}


.hero {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: var(--col-d);
  z-index: 1;
  transition: 0.3s ease;
}

.hero-text-dynamic {
  position: absolute;
  bottom: 55%;
  width: 100%;
  text-align: center;
  color: var(--col-d);
  z-index: 1;
  transition: 0.3s ease;
}

.hero-bottom {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 15dvh;
  z-index: 2;
}

.hero-bottom-mobile {
  flex-wrap: wrap;
}

.hero-image {
  width: 100%;
  filter: brightness(0.85);
}

[class*="-card"] {
  border: 1px solid rgb(239, 239, 239) !important;
}

.info-card {
  height: 150px;
  width: 550px;
}

.product-card {
  width: 280px;
  height: 350px;
}

.partner-card {
  overflow: hidden;
}

.partner-overlay {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.partner:hover .partner-overlay {
  opacity: 1;
}

.review-card {
  width: 300px;
}

.fade-slide {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s forwards;
}

.form-control {
  border-radius: 0;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile default */
.nav-link-size {
  font-size: 0.75rem; /* ~12px */
}

/* Tablet */
@media (min-width: 576px) {
  .nav-link-size {
    font-size: 0.9rem;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .nav-link-size {
    font-size: 1rem;
  }
}
