@import "./layout.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat), sans-serif;
  scroll-behavior: smooth;
}

.image {
  max-width: 50%;
  height: auto;
}

p {
  line-height: auto;
  letter-spacing: 2%;
}

.btn {
  border-radius: 0;
}

.text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.navbar {
  background-color: var(--col-b);
  opacity: 1;
  height: 19.22dvh;
}

.hero {
  position: relative;
  /* height: 100dvh; */
}

.hero-text {
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
  color: var(--col-d);
  z-index: 1;
  transition: 0.3s ease;
}

.hero-bottom {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 15dvh;
  z-index: 2;
}

.product-card {
  width: 280px;
  height: 350px;

}